.home {
    background-image: url(./quiz.jpg);
    background-size: 100% 100%;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5.5em;
}

.container h1 {
    font-size: 4.2em;
    align-self: center;
    margin: 0.6em 1.6em 0.5em 0;
}

.font {
    font-family: 'Adobe Garamond Pro', serif;
}

.blue {
    color: var(--blue);
}
.yellow {
    color: var(--yellow);
}
.red {
    color: var(--red);
}
.green {
    color: var(--green);
}

.categories {
    margin-left: 8em;
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}
  