.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 20;
}

.modal {
    position: relative;
    max-width: 35rem;
    max-height: 80vh;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    margin-top: 50px;
    padding: 1rem;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.60); 
    z-index: 30;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

header.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

header.headers h2 {
    margin: 0;
    padding: 0px 12px;
}

.btnClose {
    background-color: transparent;
    padding: 0px 15px;
    height: auto;
    border: none;
}

.btnClose i {
    font-size: 2em;
    color: var(--black);
}
